html {
    --eleven: #082f49;
    --ten: #0c4a6e;
    --nine: #075985;
    --eight: #0369a1;
    --seven: #0284c7;
    --six: #0ea5e9;
    --five: #38bdf8;
    --four: #7dd3fc;
    --three: #bae6fd;
    --two: #e0f2fe;
    --one: #f0f9ff;
    --text: #f0f9ff;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: var(--three);
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

header {
    width: 100%;
    height: 70px;
    background-color: var(--ten);
    color: var(--text);
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

#logo {
    height: 100%;
    width: 200px;
}

.linkContainer {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: space-around;
    margin-right: 4%;
}

.link {
    margin-bottom: 5px;
    width: 20%;
    height: 30px;
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
    text-align: center;
}

.link:hover .subLink, .subLink:hover{
    visibility: visible;
}

.subLink {
    visibility: hidden;
    position: absolute;
    top: 30px;
    width: 90%;
    padding: 5%;
    background-color: var(--ten);
}

a {
    text-decoration: none;
    color: var(--text);
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

main {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 1;
}

#cubeContainer {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    z-index: 0;
}

#cubeContainer div {
    position: relative;
    z-index: 0;
    border-radius: 50%;
}

.mainSection {
    width: 30%;
    position: relative;
    z-index: 1;
}

.leftSection {
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.rightSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    pointer-events: none;
}

h2 {
    font-size: 2em;
    margin: 10px;
    font-weight:bold;
}

footer {
    position: absolute;
    bottom: 0;
}



